/* Main CSS Start */
*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	height: auto;
}
body{
	font-family: ;
}
h1,h2,h3,h4,h5,h6{
	margin: 0 0 15px;
	font-weight: 700;
}
a:hover{
	text-decoration: none;
}
/* Main CSS Stop */
/* Youtube Thumbnail video section start */
.section-padding {
	padding: 80px 0;
}
.video-btn {
  display: block;
  background-size: 110%;
  background-position: center;
  background-color: #ddd;
  height: 450px;
  display: table;
  width: 100%;
  transition: .3s;
}
.video-btn:hover{
	background-size:120% ;
}
.video-overlay {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 50px;
  position: relative;
  z-index: 1;
	color: #fff;
}
.video-overlay::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #26395a;
	z-index: -1;
	opacity: .5;
}
.video-btn:hover{
	caption-side: #fff;
}
.boxed-plus {
	height: 30px;
	width: 30px;
	border: 2px solid;
	line-height: 25px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.video-overlay p {
  opacity: 0.7;
}
.video-overlay p.video-info {
  opacity: 1;
}
.video-overlay {
  transform: scale(.7);
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
.video-btn:hover .video-overlay {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.video-info span {
	position: relative;
	z-index: 1;
}
.video-info span::before {
	content: "";
	position: absolute;
	left: -120%;
	top: 10px;
	height: 2px;
	width: 100%;
	background: #fff;
	display: inline-block;
}
.video-info span::after {
	content: "";
	position: absolute;
	right: -120%;
	top: 10px;
	height: 2px;
	width: 100%;
	background: #fff;
	display: inline-block;
}
/* Youtube Thumbnail video section Stop */